@import url(layout.css);

.blogPostWelcomeHeader {
  width: 100%;
  height: auto;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  align-items: center;
  color: gray;
}

.blogPosts{
    margin-top: 30px;
    padding: 10px;
}

.blogs {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
  gap: 30px;
}

.grid-item{
    border: 5px gray solid;
    word-wrap: break-word;
    padding: 4px;
    border-radius: 10px;
    width: 550px;
    height: 300px;
    box-shadow: 4px 4px 4px gray; 
}

h3,.blogLink {
  margin-bottom: 10px;
  text-align: left;
  color: black;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.read-more-p{
    margin-top: 15px;
}

.blog-showcase{
  padding: 10px;
}

.read-more-paragraph{
  font-size: 20px;
}
