@import url(layout.css);

table{
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.empty{
    height: 30px;
}

tr{
    background-color: #DCF5FA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td{
    border: 2px solid black;
    padding: 8px;
    text-align: left;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


th{
    background-color: #26909F;
    border: 4px solid #494554 ;
    padding: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.achievedPppdCredits{
    align-self: center;
    font-size: 20px;
    color: white;
}

thead{
    background-color: #26909F;
    position:sticky;
}

.quartile{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #26909F;
    color: white;
}

.grade{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.credit{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.dashBoardHeader{
    margin-bottom: 10px;
    text-align: left;
    color: black;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;  
}

.progressBarParentDiv{  
    box-shadow: 2px 2px rgb(171, 163, 163);
    display: flex;
    flex-direction: column; 
    flex-direction: row;
    border: 3px solid black;
    border-radius: 14px;
    height: 25px;   
    margin-bottom: 10px;
    width: 70%;
    align-self: center;
}

.ECtext{
    align-self: center;
    font-size: 20px;
    margin-bottom: 10px;
    
}

.progress{
    height: 20px;
    border-radius: inherit;
    width: 50%;
    align-self: center;
}

.progressPanel{
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.boundaryOfProgressBar{
    display: flex;
    flex-direction: row;
    width: 60%;
}

.TextDiv{
    align-self: center;
    display: flex;
    width: 20%;
    flex-direction: row;
}

.TextStart{
    font-weight: bold;
    font-size: 20px;
}

.TextCurent{
    font-weight: bold;
    font-size: 20px;
}

.TextFinish{
    font-weight: bold;
    font-size: 20px;
}

.progressHeader{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.dangerSpan{
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.warningSpan{
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.safeSpan{
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.red-circle{
    align-self: center;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.orange-circle{
    width: 15px;
    height: 15px;
    align-self: center;
    margin-right: 8px;
}

.green-circle{
    width: 15px;
    height: 15px;
    align-self: center;
    margin-right: 8px;  
}